{% extends "layout.html" %}
{% block body_content %}

 <!-- Insert HTML local to this page -->

<!-- trying basic content for games -->
<head>
<style>
.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    gap : 1rem
}

</style>
</head>

<body>

<h2> Our games</h2>

<div class="row">
    {% for game in games %}
    <div class = "column">
<div class="card text-center" style="width: 18rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='images/' + game.game_id|string + '.jpg') }}" height="100" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{game.game_name}}</h5>
    <p class="card-text">{{game.num_of_players}} players</p>
    <a href="#" class="btn btn-primary">Click for more</a>
  </div>
</div>
  </div>
    </div>

<div>
   {# <p>{{game.game_name}}</p>#}
   {# <img src="{{ url_for('static', filename='images/' + game.game_id|string + '.jpg') }}" height="100">#}
    {% endfor %}
    <br>
    {{ message }}
</div>


</body>





  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}

