{% extends "layout.html" %}
{% block body_content %}

    <!-- Insert HTML local to this page -->

    <div class='container-sm' style="width:50%">
        <!-- System message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
        {{ message }}
        </div>
        {% endfor %}
        <!-- End system message -->
        <h2> Book A Table</h2>
        <p>We have three daily sessions that you can book.<br>
            Lunchtime: 11am - 1pm<br>
            Afternoon: 2pm - 5pm<br>
            Lunchtime: 6pm - 10pm<br>
        </p>
    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.session_date_list.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.session_date_list (class_="form-control", size=8) }}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-10">{{ form.game_list.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.game_list (class_="form-control", size=4) }}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-10">{{ form.email.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.email (class_="form-control", size =32) }}</div>
            </div>
        </div>
            <div class="row">
                <div class = "mb-3"><div class="col-md-2">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
            </div>
        </div>
    </form>
    </div>

{% block footer_content %}
{% endblock %}

{% endblock %}
