{% extends "layout.html" %}
{% block body_content %}

    <!-- Insert HTML local to this page -->

    <div class="container text-center">
    <h2>Food & Drink</h2>
        <br>
    <div class="row">
        <div class="col-sm">
            <h4>Mug of soup - £3 </h4>
            A mug of today's choice of soup. Please see blackboard for details
            <br>
            <br>
            <h4>Toasted sandwich - £7</h4>
            with a range of fillings:
            <br>
            Classic cheese
            <br>
            Cheese and ham
            <br>
            Goats cheese and pesto
            <br>
            Brie and bacon
            <br>
            <br>
            <h4>Filled wraps - £6</h4>
            Falafel - with hummus, rocket and mango chutney
            <br>
            BLT - bacon and iceberg lettuce with tomato and mayo
            <br>
            Halloumi - with mixed leaves and sweet chilli dressing
            <br>
            <br>
            <h4>Snacks</h4>
            Nachos with cheese and salsa - £4
            <br>
            New York mixed nuts - £4
            <br>
            Mixed Olives - £3
            <br>
            Cheesy garlic bread - £3
        </div>
        <div class="col-sm">
            <h4>Cakes</h4>
            Chocolate fudge cake - £4
            <br>
            Coconut and raspberry sponge - £4
            <br>
            Apple and walnut cake - £4
            <br>
            Fruit or plain scone with jam and cream - £3
            <br>
            Additional cakes of the day on black-board
            <br>
            <br>
            <h4>Drinks</h4>
            Coffee - all types - £3.50
            <br>
            Tea - breakfast, Earl Grey, Lapsang Souchong, Rooibos, mint, ginger - £3
            <br>
            Hot chocolate - £3
            (with cream and marshmallows + £0.50)
            <br>
            Coke/Diet Coke/Coke Zero - £2.50
            <br>
            Rose lemonade - £2.50
            <br>
            Elderflower spritz - £2.50
            <br>
            Ginger beer - £2.50
            <br>
            Apple Juice - £2.50
            <br>
            <br>
            <h4>Milkshakes - £4</h4>
            Vanilla, caramel or chocolate
            <br>
            <br>
        </div>
        <div class="col-sm">
            <h4>Alcoholic drinks</h4>
            Wine
            <br>
            Chardonnay, Pinot Grigio or Sauvignon Blanc (175ml)- £5
            <br>
            Shiraz, Cab Sauv or Pinot Noir(175ml) - £5
            <br>
            <br>
            <h6>Craft beer</h6>
            Erdinger Weissbier - £4
            <br>
            Veltins Pilsner - £4
            <br>
            Westmalle Dubbel - £4
            <br>
            <br>
            <h6>Cider</h6>
            Hunt's rhubarb cider - £4
            <br>
            Celtic Marches - £4
            <br>
            Thirsty Farmer - £4
            <br>
            <br>
            <h4>Cocktails</h4>
            Please see our in cafe blackboard for today's selection of cocktails - £7.50
        </div>
    </div>
    </div>

  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}