{% extends "layout.html" %}
{% block body_content %}

  <!-- Insert HTML local to this page -->


<div class="container text-center p-3">
   <div class="row p-2">
    <div class="col">
      <h3>{{game.game_name}}</h3>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <img src="{{ url_for('static', filename='images/'+game_id+'.jpg')}}" alt="Game Image" height="300">
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      {% if game.num_of_players > 2 %}
      Number of players: 2 - {{game.num_of_players}}
      {% else %}
      Number of players: 2
      {% endif %}
    </div>
    <div class="col">
      Age: {{game.min_age}}+
    </div>
    <div class="col">
      Duration: {{game.duration_of_play_time}} minutes
    </div>
    <div class="col">
      Play: {{game.gameplay}}
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      {{game.game_description}}
    </div>
  </div>
</div>
<br>
<div class="container text-left pb-5">
  <div class="row">
    <div class="col">
      <h3>Reviews &nbsp<a href="http://127.0.0.1:5000/new_review"><button type="button" class="btn btn-outline-primary">Review one of our games!</button></a></h3>
    </div>
  </div>
  {% for review in reviews_for_game %}
  <div class="row">
    <div class="col">
      <i>{{first_names[loop.index0]}} <br>
     {% if review.stars == 1 %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      {% elif review.stars == 2 %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      {% elif review.stars == 3 %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      {% elif review.stars == 4 %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      {% else %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      {% endif %}<br>
      {{review.review_date}}</i> <br>
      {{review.review}} <br> <br>
    </div>
  </div>
  {% endfor %}

</div>
{% if game.gameplay=='co-operative' %}
<div class="container text-left pb-5">
<h3> Other co-operative games...</h3>
</div>
<div class="container text-center">
  <div class="row">
      {% for g in coop_games %}
      {% if g.game_id != game.game_id %}
    <div class="col">
        <a href="{{ url_for('show_game_details', game_name=g.game_name) }}"><img src="{{ url_for('static', filename='images/'+ g.game_id|string +'.jpg')}}" alt="Game Image" height="150"></a>
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<br>
{% endif %}

{% if game.num_of_players==2 %}
<div class="container text-left pb-5">
<h3> Other 2 player games...</h3>
</div>
<div class="container text-center">
  <div class="row">
      {% for g in two_player_games %}
      {% if g.game_id != game.game_id %}
    <div class="col">
        <a href="{{ url_for('show_game_details', game_name=g.game_name) }}"><img src="{{ url_for('static', filename='images/'+ g.game_id|string +'.jpg')}}" alt="Game Image" height="150"></a>
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<br>
{% endif %}


  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}