{% extends "layout.html" %}
{% block body_content %}

    <!-- Insert HTML local to this page -->

    <!-- Insert HTML local to this page -->

    <h2>Our games</h2>
    <br>
    <div class="container">
    {% for row in games | batch(3) %}
    <div class="row">
        <!--starting column-->
        {% for col in row %}
        <div class="col-sm">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top"
                     src="{{ url_for('static', filename='images/' + col.game_id|string + '.jpg') }}" height="100"
                     alt="Image of {{col.game_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{col.game_name}}</h5>
                        <p class="card-text">{{col.num_of_players}} players</p>
                        <a href="{{ url_for('show_game_details', game_name=col.game_name) }}" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- end of card-->
        {% endfor %}
    </div> <!-- ends column-->
    <br>
    {% endfor %}
    </div>
    <!-- ends row after 3 -->
    <!-- ends container?-->
    {{ message }}

    <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}