{% extends "layout.html" %}
{% block body_content %}

  <!-- Insert HTML local to this page -->


<div class="container text-center">
   <div class="row p-2">
    <div class="col">
      <h3>{{game.game_name}}</h3>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <img src="{{ url_for('static', filename='images/games_images/{{game.game_id}}.jpg') }}" alt="Game Image">
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      {% if game.num_of_players > 2 %}
      Number of players: 2 - {{game.num_of_players}}
      {% else %}
      Number of players: 2
      {% endif %}
    </div>
    <div class="col">
      Age: {{game.min_age}}
    </div>
    <div class="col">
      Duration: {{game.duration_of_play_time}}
    </div>
    <div class="col">
      Play: {{game.gameplay}}
    </div>
  </div>
  <div class="row p-4">
    <div class="col">
      {{game.game_description}}
    </div>
  </div>
</div>




  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}