{% extends "layout.html" %}
{% block body_content %}

    <!-- Insert HTML local to this page -->

    <!-- Start welcome -->

            <div class="card">
            <div class="card-body">
            <h2>Welcome to Roll With It!</h2>
            <p>We offer a warm and friendly environment where you can enjoy a boardgame or two with your friends and family! Book onto one of our sessions and bring your own game or reserve one from our collection.</p>
            </div>
            </div>

        <!-- End welcome -->
    <br>
    <br>




    <!-- Image layout -->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/food_home.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Eat</h4>
            </div>
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/coffee_home.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Drink</h4>
            </div>
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/play.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Play</h4>
            </div>
        </div>

        </div>
    <!-- End image layout -->





        <br>
        <br>
        <h4>Upcoming events... </h4>
        <p>We have regular themed events to bring gamers together.</p>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div  class="carousel-item active">
                <a href="{{ url_for('add_booking') }}"><img src="{{ url_for('static', filename='images/advert1.jpg') }}" class="d-block mx-auto rounded" data-bs-interval="3000" height="300" alt=".."></a>
              </div>
            <div class="carousel-item">
                <a href="{{ url_for('add_booking') }}"><img src="{{ url_for('static', filename='images/advert2.jpg')}}" class="d-block mx-auto rounded" data-bs-interval="3000" height="300" alt="..."></a>
              </div>
            <div class="carousel-item">
                <a href="{{ url_for('add_booking') }}"><img src="{{ url_for('static', filename='images/advert4.jpg')}}" class="d-block mx-auto rounded" data-bs-interval="3000" height="300" alt="..."></a>
              </div>
            <div class="carousel-item">
                <a href="{{ url_for('add_booking') }}"><img src="{{ url_for('static', filename='images/advert3.jpg')}}" class="d-block mx-auto rounded" data-bs-interval="3000" height="300" alt="..."></a>
              </div>
            <div class="carousel-item">
                <a href="{{ url_for('add_booking') }}"><img src="{{ url_for('static', filename='images/advert5.jpg')}}" class="d-block mx-auto rounded" data-bs-interval="3000" height="300" alt="..."></a>

            </div>
            </div>
            </div>


    <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}
