{% extends "layout.html" %}
{% block body_content %}

  <!-- Insert HTML local to this page -->

    <h2> Welcome to Roll With It!</h2>

    <p>We offer a warm and friendly environment where you can enjoy a boardgame or two with your friends and family! Book onto one of our sessions and bring your own game or reserve one from our collection.</p>

    <!-- Image layout -->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/food_home.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Eat</h4>
            </div>
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/coffee_home.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Drink</h4>
            </div>
            <div class="col-sm">
                <img class="home_images" src="{{ url_for('static', filename='images/dice_game.jpg') }}" class="rounded" alt="Generic image of a dice game. Photo by Sarah Pflug from Burst" height="170">
                <br><h4>Play</h4>
            </div>
        </div>

    </div>

  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}
