{% extends "layout.html" %}
{% block body_content %}

  <!-- Insert HTML local to this page -->

    <div class='container-sm' style="width:50%">
    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}
        <div class="row">
            <div class = "mb-6">
                <div class="col">
                    {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <h2>Sign Up</h2>
                    <p>Once registered you can manage your bookings and write reviews.</p>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.first_name.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.first_name (class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.last_name.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.last_name(class_="form-control", size =32)}}</div>
            </div>
        </div>
           <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.email.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.email(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.phone_number.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.phone_number(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.customer_password.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.customer_password(class_="form-control", size =32)}}</div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <div class="col-md-10">{{ form.confirm_customer_password.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.confirm_customer_password(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
                <div class = "mb-3">
                    <div class="col-md-2">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
                </div>
        </div>
    </form>
    </div>

  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}