{% extends "layout.html" %}
{% block body_content %}

  <!-- Insert HTML local to this page -->


<div class="container text-center">
   <div class="row">
    <div class="col">
      Game name
    </div>
  </div>
  <div class="row">
    <div class="col">
      picture of game
    </div>
  </div>
  <div class="row">
    <div class="col">
      Max num of players:
    </div>
    <div class="col">
      Min age:
    </div>
    <div class="col">
      Duration:
    </div>
    <div class="col">
      Play:
    </div>
  </div>
  <div class="row">
    <div class="col">
      description
    </div>
  </div>
</div>




  <!-- Do not type below this line -->

{% block footer_content %}
{% endblock %}

{% endblock %}