{% extends "layout.html" %}
{% block body_content %}
<h2> Booking Form </h2>
<div class='container-sm' style="width:50%">
    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}

        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.game_list.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.game_list }}</div>

            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.session_date_list.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.session_date_list}}</div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.session_list.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.session_list}}</div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.email.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.email (class_="form-control", size =32) }}</div>
            </div>
        </div>

        <div class="row">
                <div class = "mb-3">
                    <div class="col-md-2">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
                </div>
        </div>
            {{ message }}


    </form>
    </div>

{% block footer_content %}
{% endblock %}

{% endblock %}

<!--redirect(url_for('home'))
flash("Thanks for booking")-->